* {
  margin: 0;
  padding: 0;
}

body {
  /* background: #1b2838;
  background-image: url('https://steamcdn-a.akamaihd.net/steam/apps/546560/page_bg_generated_v6b.jpg?t=1584985275');
  background-repeat: no-repeat;
  background-position: center top; */
  /* color: #c6d4df; */
  font-family: Arial, Helvetica, sans-serif;
}

#Announcements {
  display: inline-grid;
  height: 35rem;
  width: 48rem;
  font-size: 2em;
  color: ghostwhite;
  border: none;
}

#main-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas:
      "thumbnail"
      "mini-title";
  position: relative;
  overflow: auto;
}

#thumbnail {
  background: #2c4361;
  grid-area: thumbnail;
  grid-row: 1 / span 3;
}

#mini-title {
  background: #283037;
  grid-row: 4 / span 1;
  box-sizing: content-box;
  padding: 0.75rem;
}

#overlay {
  background: #14171fd4;
  font-size: 0.5em;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 40px;
  z-index: 100;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: white;
  box-sizing: border-box;
  padding: 2rem;
  cursor: pointer;
  animation: overlayFade 0.5s ease  0s 1  normal  none;
}

.summary-date {
  font-size: .5em;
}

.category {
  text-transform: uppercase;
}


@keyframes overlayFade {
  0.0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}